* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 52px 0;
}

//^ HEADER
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 300px;
  margin-top: 40px;
  background-color: rgb(255 255 255);
  border-radius: 40px;
  width: 66%;
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 10;
  height: 60px;
  padding: 25px;
  .icons {
    display: flex;
    gap: 16px;
  }
  button {
    border: none;
    border-radius: 30px;
    background-color: rgb(240 243 250);
    height: 30px;
    width: 30px;
  }
  .links {
    display: flex;
    gap: 43px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    opacity: 0.8;
    font-size: 13px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    height: 37px;
  }
}

//& FOOTER
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  padding: 40px 190px;
  background-color: rgb(22 22 22);
  .c-1 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
    gap: 20px;
    .logos {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      height: 25px;
    }
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.2;
    display: inline;
    color: rgb(240 243 250);
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
    width: 69%;
    color: rgb(240 243 250);
    .column-items,
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100px;
      a {
        text-decoration: none;
        color: rgb(240 243 250);
        font-size: 12px;
      }
    }
  }
  .last-column {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
      margin-left: 60px;
    }
    span {
      font-weight: bold;
      color: #aa72ff;
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
      text-align: left;
    }
    div {
      color: rgb(174 192 227);
      font-size: 10px;
      margin-left: 60px;
    }
    p {
      color: rgb(255 255 255);
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      text-align: right;
    }
  }
}

//*MAIN
main {
  background-color: rgb(240 243 250);

  section {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .slide.active {
      opacity: 1;
    }

    .slider-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide-text {
      position: absolute;
      bottom: 200px;
      text-align: center;
      left: 36%;
      width: 530px;
      color: rgb(255 255 255);
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      padding: 10px 20px;
    }
  }
  .box {
    display: flex;
    position: absolute;
    background-color: white;
    width: 790px;
    height: 317px;
    bottom: -110px;
    border-radius: 40px;
    padding: 20px;
    left: 27%;
    gap: 20px;
    img {
      margin-top: 30px;
      width: 124px;
      height: 50px;
      border-radius: 0;
    }
    .box-text {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 30px;
      letter-spacing: 1px;
      width: 600px;
      color: rgb(6 15 38);
      font-size: 16px;
      padding: 30px;
    }
    .box-btns {
      display: flex;
      flex-direction: column;
      max-height: 200px;
      gap: 10px;
      align-items: center;
      button {
        padding: 18px 30px;
        width: 350px;
        border-radius: 50px;
        color: white;
        border: none;
        font-size: 22px;
        text-align: left;
        font-weight: 500;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
  .activity-section {
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    .swipers {
      width: 100%;
      margin-bottom: 50px;
    }
    .swiper-section {
      overflow: hidden;

      .swiper-box {
        border-radius: 45px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        position: relative;
        &:hover {
          img {
            filter: blur(2px);
          }
        }
      }
      img {
        height: 530px;
        width: 100%;
        display: block;
        object-fit: cover;
        transition: transform 0.3s ease;
        border-radius: 45px;
      }
      .txt-swiper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 45px;
        color: #fff;
        background-image: linear-gradient(15deg, #141414 20%, transparent 60%);
        border-radius: 0px 0px 45px 45px;
        box-sizing: border-box;
        &:hover {
          filter: blur(2px);
        }
        p {
          font-size: 28px;
          font-weight: bold;
          padding-bottom: 10px;
        }

        span {
          font-size: 14px;
        }
      }
    }
    h2 {
      letter-spacing: 0.2px;
      font-size: 40px;
      font-weight: 500;
      text-align: center;
    }
    button {
      height: 35px;
      width: 35px;
      border-radius: 50px;
      border-width: 0.7px;
      border-color: rgb(179 195 230);
      background-color: rgb(255 255 255);
      font-size: 10px;
      &:hover {
        background-color: #e5e7eb;
      }
    }
    .activity-header {
      display: flex;
      margin-top: 250px;
      justify-content: space-between;
      flex-direction: row;
      padding: 40px 200px;
    }
  }

  .circle-section {
    margin-bottom: 60px;
    .blue-circle {
      width: 160px;
      height: 160px;
      background-color: rgb(0 89 255);
      opacity: 1;
      border-radius: 100%;
      color: #e5e7eb;
      text-align: center;

      p {
        font-size: 40px;
        color: #e5e7eb;
        font-weight: 600;
        margin-top: 40px;
      }
      span {
        font-weight: 400;
      }
    }
    .brown-circle {
      width: 160px;
      height: 160px;
      background-color: rgb(199 155 110);
      opacity: 1;
      border-radius: 100%;
      color: #e5e7eb;
      text-align: center;

      p {
        font-size: 40px;
        color: #e5e7eb;
        font-weight: 600;
        margin-top: 40px;
      }
      span {
        font-weight: 400;
      }
    }
    .purple-circle {
      width: 160px;
      height: 160px;
      background-color: rgb(112 0 227);
      opacity: 1;
      border-radius: 100%;
      color: #e5e7eb;
      text-align: center;

      p {
        font-size: 40px;
        color: #e5e7eb;
        font-weight: 600;
        margin-top: 40px;
      }
      span {
        font-weight: 400;
      }
    }
    h3 {
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
      letter-spacing: normal;
      padding-bottom: 10px;
    }
    .circles-brown {
      background-image: linear-gradient(
        90deg,
        hsla(30, 44%, 61%, 0) -10%,
        #c79b6e
      );
      display: flex;
      height: 170px;
      gap: 30px;
      justify-content: center;
      padding-top: 5px;
      width: 100%;
    }
    .circles-purple {
      background-image: linear-gradient(
        90deg,
        rgba(112, 0, 227, 0) -10%,
        #7000e3
      );
      margin-top: 22px;
      display: flex;
      height: 170px;
      gap: 30px;
      padding-top: 5px;
      justify-content: center;
    }
    .circles {
      margin-top: 22px;
      display: flex;
      height: 170px;
      gap: 30px;
      padding-top: 5px;
      background-image: linear-gradient(
        -90deg,
        rgba(89, 156, 247, 0) -10%,
        #599cf7
      );

      justify-content: center;
    }

    .circle-item {
      display: flex;
    }
    img {
      height: 160px;
      width: 160px;
      border-radius: 100%;
      margin-left: -20px;
    }
  }

  .project-section {
    h2 {
      margin-bottom: 20px;
      text-align: left;
      padding-left: 310px;
      font-size: 42px;
      font-weight: 400;
    }
    .img-container {
      display: flex;
      justify-content: center;
      gap: 25px;
    }

    .left-side,
    .right-side {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    img {
      width: 450px;
      height: auto;
      border-radius: 28px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
    }
  }

  .a {
    grid-area: a;
  }

  .b {
    grid-area: b;
  }

  .c {
    grid-area: c;
  }

  .d {
    grid-area: d;
  }

  .q {
    grid-area: q;
  }

  .w {
    grid-area: w;
  }

  .e {
    grid-area: e;
  }

  .r {
    grid-area: r;
  }

  .news-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "a b q"
      "a b w"
      "c d e"
      "c d r";
    gap: 24px;

    .news-cards {
      background: #f3f6fc;
      border-radius: 14px;
      padding: 16px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .news-card {
      background: rgb(240 243 250);
      border-radius: 14px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      cursor: pointer;
      overflow: hidden;
      &:hover {
        filter: brightness(1.05);
      }

      .date {
        font-size: 13px;
        color: #64748b;
        margin-bottom: 6px;
        padding-top: 20px;
        margin-left: 20px;
      }

      h3 {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.4;
        color: #0f172a;
        margin-bottom: 10px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }

      img {
        margin-top: 10px;
        height: 170px;
        transition: filter 0.3s ease;
      }
    }

    .all-news-btn {
      background-color: #3b82f6;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 14px 22px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      width: 100%;
      &:hover {
        background: #2563eb;
      }
    }
  }

  .container-img {
    background: linear-gradient(90deg, rgb(6, 15, 38), rgb(85, 138, 254) 100%);
    padding: 120px;
    height: 70vh;
    .inner-container {
      background-image: linear-gradient(90deg, #558aff, #122247 100%);
      display: flex;
      height: 330px;
      width: 70%;
      margin-left: 180px;
      position: relative;
      border-radius: 180px;
      .txt {
        width: 50%;
        color: rgb(255 255 255);
        padding: 40px;
        margin-left: 40px;
        margin-top: 10px;

        h2 {
          font-size: 34px;
          text-align: left;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          width: 400px;
          margin-bottom: 20px;
        }
      }
      img {
        height: 380px;
        position: absolute;
        bottom: -1.3px;
        right: 1px;
      }
      a {
        text-decoration: none;
        width: 90px;
        background-color: white;
        padding: 10px 30px;
        font-size: 16px;
        text-align: center;
        border-radius: 20px;
      }
    }
  }
  .faq-header {
    h2 {
      margin-top: 40px;
      font-size: 35px;
      font-weight: 400;
    }
  }
  .faq-section {
    max-width: 700px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .faq-item {
      border-radius: 40px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      background-color: rgb(255 255 255);
      transition: all 0.3s ease;

      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 20px;
        cursor: pointer;
        font-weight: 600;
        background-color: rgb(255 255 255);
        &:hover {
          background-color: rgb(228 233 245);
        }
        .arrow {
          transition: transform 0.3s ease;
        }

        .rotate {
          transform: rotate(180deg);
        }
      }

      .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        padding: 0 20px;
        background-color: rgb(228 233 245);

        p {
          margin: 10px 0;
          margin-bottom: 10px;
          color: #333;
          background-color: rgb(228 233 245);
        }
      }

      &.open {
        .faq-answer {
          max-height: 200px;
          padding: 10px 20px;
          background-color: rgb(228 233 245);
        }
      }
    }
  }
  .img-swiper {
    padding: 80px;
    background-color: white;
    img {
      height: 90px;
      padding: 10px;
    }
  }
}



@media (max-width: 1024px) {
  header {
    margin-left: 0;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    .links {
      gap: 20px;
      font-size: 12px;
    }
  }

  main {
    section {
      height: 450px;
      .slide-text {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        font-size: 32px;
        bottom: 120px;
      }
    }

    .box {
      width: 90%;
      height: auto;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      text-align: center;
      align-items: center;

      img {
        margin: 0;
      }
      .box-text {
        width: 100%;
        padding: 20px;
        font-size: 14px;
      }
      .box-btns button {
        width: 100%;
        font-size: 18px;
      }
    }

    .activity-header {
      padding: 40px 40px;
      margin-top: 150px;
      h2 {
        font-size: 30px;
      }
    }

    .news-section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a b"
        "q w"
        "c d"
        "e r";
    }

    .container-img {
      padding: 60px;
      height: auto;

      .inner-container {
        margin-left: 0;
        width: 100%;
        border-radius: 80px;
        img {
          height: 260px;
        }
        .txt h2 {
          font-size: 26px;
        }
      }
    }
  }

  footer {
    flex-direction: column;
    padding: 40px;
    text-align: center;

    .columns {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }

    .last-column {
      margin-top: 20px;
      img {
        margin-left: 0;
      }
    }
  }
}


@media (max-width: 600px) {
  header {
    width: 95%;
    height: auto;
    padding: 10px;
    .links {
      display: none;  
    }
  }

  main {
    section {
      height: 350px;
      .slide-text {
        font-size: 22px;
        width: 90%;
        bottom: 80px;
      }
    }

    .box {
      border-radius: 30px;
      padding: 15px;
      .box-text {
        font-size: 14px;
      }
      .box-btns button {
        width: 100%;
        font-size: 16px;
      }
    }

    .activity-header {
      padding: 20px;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-size: 26px;
      }
    }

    .news-section {
      grid-template-columns: 1fr;
      grid-template-areas:
        "a"
        "b"
        "q"
        "w"
        "c"
        "d"
        "e"
        "r";
    }

    .container-img {
      padding: 40px;
      .inner-container {
        height: auto;
        border-radius: 40px;
        flex-direction: column;
        text-align: center;
        img {
          position: static;
          margin-top: 20px;
          height: 200px;
        }
      }
    }

    footer {
      padding: 30px;
      .columns {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
