* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 300px;
  margin-top: 40px;
  background-color: rgb(255 255 255);
  border-radius: 40px;
  width: 66%;
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 10;
  height: 60px;
  padding: 25px;
  .icons {
    display: flex;
    gap: 16px;
  }
  button {
    border: none;
    border-radius: 30px;
    background-color: rgb(240 243 250);
    height: 30px;
    width: 30px;
  }
  .links {
    display: flex;
    gap: 43px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    opacity: 0.8;
    font-size: 13px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    height: 37px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  padding: 40px 190px;
  background-color: rgb(22 22 22);
  .c-1 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
    gap: 20px;
    .logos {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      height: 25px;
    }
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.2;
    display: inline;
    color: rgb(240 243 250);
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
    width: 69%;
    color: rgb(240 243 250);
    .column-items,
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100px;
      a {
        text-decoration: none;
        color: rgb(240 243 250);
        font-size: 12px;
      }
    }
  }
  .last-column {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
      margin-left: 60px;
    }
    span {
      font-weight: bold;
      color: #aa72ff;
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
      text-align: left;
    }
    div {
      color: rgb(174 192 227);
      font-size: 10px;
      margin-left: 60px;
    }
    p {
      color: rgb(255 255 255);
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      text-align: right;
    }
  }
}

main {
  section {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .slide.active {
      opacity: 1;
    }

    .slider-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide-text {
      position: absolute;
      bottom: 200px;
      text-align: center;
      left: 36%;
      width: 530px;
      color: rgb(255 255 255);
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      padding: 10px 20px;
    }
  }
  .box{
    display: flex;
    position: absolute;
    bottom: -130px; 
    background-color: white;
    width: 790px;
    height: 317px;
    border-radius: 40px;
    padding: 60px;
    left: 27%;
    gap: 20px ;
    img{
      margin-top: 30px;
      width: 124px;
      height: 50px;
    }
    .box-text{
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 30px;
      letter-spacing: 1px;
      width: 600px;
      color: rgb(6 15 38);
      font-size: 16px;
    }
    .box-btns{
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      button{
        background-color: rgba(59, 130, 246, .5);
        padding: 13px 30px;
        width: 250px;
        border-radius: 50px;
        color: white;
      }
    }
  }
  .space{
    background-color: rgb(240 243 250);
    height: 300px;
  }
}
