* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1296px;
  padding: 52px 0;
}

//^ HEADER
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255 255 255);
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 10;
  height: 70px;
  padding: 25px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  .icons {
    display: flex;
    gap: 16px;
  }
  button {
    border: none;
    border-radius: 30px;
    background-color: rgb(240 243 250);
    height: 30px;
    width: 30px;
    margin-left: 40px;
  }
  .links {
    margin-left: 80px;
    display: flex;
    gap: 53px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    opacity: 0.8;
    font-size: 13px;
    text-transform: uppercase;
    width: auto;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    height: 37px;
  }

  .burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
}

//& FOOTER
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  padding: 40px 190px;
  background-color: rgb(22 22 22);
  .c-1 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
    gap: 20px;
    .logos {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      height: 25px;
    }
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.2;
    display: inline;
    color: rgb(240 243 250);
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 10px;
    width: 69%;
    color: rgb(240 243 250);
    .column-items,
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100px;
      a {
        text-decoration: none;
        color: rgb(240 243 250);
        font-size: 12px;
      }
    }
  }
  .last-column {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
      margin-left: 60px;
    }
    span {
      font-weight: bold;
      color: #aa72ff;
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
      text-align: left;
    }
    div {
      color: rgb(174 192 227);
      font-size: 10px;
      margin-left: 60px;
    }
    p {
      color: rgb(255 255 255);
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      text-align: right;
    }
  }
}

//*MAIN
main {
  background-color: rgb(240 243 250);

  section {
    // position: absolute;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .slide.active {
      opacity: 1;
    }

    .slider-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide-text {
      position: absolute;
      bottom: 200px;
      text-align: center;
      left: 36%;
      width: 530px;
      color: rgb(255 255 255);
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      padding: 10px 20px;
    }
  }
  .all-box {
    display: flex;
    justify-content: center;
    margin-top: -100px;
    z-index: 999;
    position: sticky;
  }
  .box {
    display: flex;
    background-color: white;
    width: 790px;
    border-radius: 40px;
    padding: 30px;
    left: 27%;
    gap: 20px;
    img {
      margin-top: 30px;
      width: 124px;
      height: 50px;
      border-radius: 0;
    }
    .box-text {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 30px;
      letter-spacing: 1px;

      color: rgb(6 15 38);
      font-size: 16px;
      padding: 30px;
    }
    .box-btns {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      button {
        padding: 18px 30px;
        width: 370px;
        border-radius: 50px;
        color: white;
        border: none;
        font-size: 22px;
        text-align: left;
        font-weight: 500;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
  .activity-section {
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    .swipers {
      width: 100%;
      margin-bottom: 50px;
    }
    .swiper-section {
      overflow: hidden;

      .swiper-box {
        border-radius: 45px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        position: relative;
        &:hover {
          img {
            filter: blur(5px);
            transform: translateZ(0);
            backface-visibility: hidden;
          }
        }
      }
      img {
        height: 400px;
        width: 100%;
        display: block;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        border-radius: 45px;
        &:hover {
          filter: blur(2px);
        }
      }
      .txt-swiper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 45px;
        color: #fff;
        background-image: linear-gradient(15deg, #141414 20%, transparent 60%);
        border-radius: 0px 0px 45px 45px;
        box-sizing: border-box;

        p {
          font-size: 28px;
          font-weight: bold;
          padding-bottom: 10px;
        }

        span {
          font-size: 14px;
        }
      }
    }
    h2 {
      letter-spacing: 0.2px;
      font-size: 40px;
      font-weight: 500;
      text-align: center;
    }
    button {
      height: 35px;
      width: 35px;
      border-radius: 50px;
      border-width: 0.7px;
      border-color: rgb(179 195 230);
      background-color: rgb(255 255 255);
      font-size: 10px;
      &:hover {
        background-color: #e5e7eb;
      }
    }
    .activity-header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 40px 100px;
    }
  }

  .circle-section {
    margin-bottom: 60px;
    .blue-circle {
      width: 160px;
      height: 160px;
      background-color: rgb(0 89 255);
      opacity: 1;
      border-radius: 100%;
      color: #e5e7eb;
      text-align: center;

      p {
        font-size: 40px;
        color: #e5e7eb;
        font-weight: 600;
        margin-top: 40px;
      }
      span {
        font-weight: 400;
      }
    }
    .brown-circle {
      width: 160px;
      height: 160px;
      background-color: rgb(199 155 110);
      opacity: 1;
      border-radius: 100%;
      color: #e5e7eb;
      text-align: center;

      p {
        font-size: 40px;
        color: #e5e7eb;
        font-weight: 600;
        margin-top: 40px;
      }
      span {
        font-weight: 400;
      }
    }
    .purple-circle {
      width: 160px;
      height: 160px;
      background-color: rgb(112 0 227);
      opacity: 1;
      border-radius: 100%;
      color: #e5e7eb;
      text-align: center;

      p {
        font-size: 40px;
        color: #e5e7eb;
        font-weight: 600;
        margin-top: 40px;
      }
      span {
        font-weight: 400;
      }
    }
    h3 {
      font-size: 40px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
      letter-spacing: normal;
      padding-bottom: 10px;
    }
    .circles-brown {
      background-image: linear-gradient(
        90deg,
        hsla(30, 44%, 61%, 0) -10%,
        #c79b6e
      );
      display: flex;
      height: 170px;
      gap: 30px;
      justify-content: center;
      padding-top: 5px;
      width: 100%;
    }
    .circles-purple {
      background-image: linear-gradient(
        90deg,
        rgba(112, 0, 227, 0) -10%,
        #7000e3
      );
      margin-top: 22px;
      display: flex;
      height: 170px;
      gap: 30px;
      padding-top: 5px;
      justify-content: center;
    }
    .circles {
      margin-top: 22px;
      display: flex;
      height: 170px;
      width: 100%;
      gap: 30px;
      padding-top: 5px;
      background-image: linear-gradient(
        -90deg,
        rgba(89, 156, 247, 0) -10%,
        #599cf7
      );

      justify-content: center;
    }

    .circle-item {
      display: flex;
    }
    img {
      height: 160px;
      width: 160px;
      border-radius: 100%;
      margin-left: -20px;
    }
  }

  .project-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1176px;
    h2 {
      display: flex;
      justify-content: center;
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    .img-container {
      display: flex;
      justify-content: center;
      gap: 25px;
    }

    .left-side,
    .right-side {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 28px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
    }
  }

  .a {
    grid-area: a;
  }

  .b {
    grid-area: b;
  }

  .c {
    grid-area: c;
  }

  .d {
    grid-area: d;
  }

  .q {
    grid-area: q;
  }

  .w {
    grid-area: w;
  }

  .e {
    grid-area: e;
  }

  .r {
    grid-area: r;
  }

  .news-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "a b q"
      "a b w"
      "c d e"
      "c d r";
    gap: 24px;
    margin: 0 auto;
    .news-cards {
      background: #f3f6fc;
      border-radius: 14px;
      padding: 16px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .news-card-n {
      display: none;
    }
    .news-card {
      background: rgb(240 243 250);
      border-radius: 14px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &:hover {
        filter: brightness(1.05);
      }

      .date {
        font-size: 13px;
        color: #64748b;
        margin-bottom: 6px;
        padding-top: 20px;
        margin-left: 20px;
      }

      h3 {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.4;
        color: #0f172a;
        margin-bottom: 10px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }

      img {
        margin-top: 10px;
        height: 170px;
        transition: filter 0.3s ease;
      }
    }

    .all-news-btn {
      background-color: #3b82f6;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 14px 22px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      width: 100%;
      &:hover {
        background: #2563eb;
      }
    }
  }
  .responsive {
    display: none;
  }

  .container-img {
    background: linear-gradient(90deg, rgb(6, 15, 38), rgb(85, 138, 254) 100%);
    padding: 100px 40px;
    position: relative;

    .inner-container {
      background-image: linear-gradient(90deg, #558aff, #122247 100%);
      display: flex;
      height: 330px;
      position: sticky;
      width: 70%;
      margin-left: 180px;
      border-radius: 180px;
      .txt {
        width: 50%;
        color: rgb(255 255 255);
        padding: 40px;
        margin-left: 40px;
        margin-top: 10px;

        h2 {
          font-size: 34px;
          text-align: left;
          margin-bottom: 20px;
        }
        p {
          text-align: left;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
      img {
        height: 380px;
        position: absolute;
        bottom: -1.3px;
        right: 1px;
      }
      a {
        text-decoration: none;
        width: 90px;
        background-color: white;
        padding: 10px 30px;
        font-size: 16px;
        text-align: center;
        border-radius: 20px;
      }
    }
  }
  .faq-header {
    h2 {
      font-size: 35px;
      font-weight: 400;
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }

    .faq-section {
      max-width: 700px;
      margin: 50px auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .faq-item {
        border-radius: 40px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background-color: rgb(255 255 255);
        transition: all 0.3s ease;

        .faq-question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 25px 20px;
          cursor: pointer;
          font-weight: 600;
          background-color: rgb(255 255 255);
          &:hover {
            background-color: rgb(228 233 245);
          }
          .arrow {
            transition: transform 0.3s ease;
          }

          .rotate {
            transform: rotate(180deg);
          }
        }

        .faq-answer {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease, padding 0.3s ease;
          padding: 0 20px;
          background-color: rgb(228 233 245);

          p {
            margin: 10px 0;
            margin-bottom: 10px;
            color: #333;
            background-color: rgb(228 233 245);
          }
        }

        &.open {
          .faq-answer {
            max-height: 200px;
            padding: 10px 20px;
            background-color: rgb(228 233 245);
          }
        }
      }
    }
  }
}
.news-header {
  display: flex;
  justify-content: center;
  font-weight: 500;
  padding-top: 20px;
  font-size: 26px;
}
.img-swiper {
  padding: 60px 40px;
  background-color: white;
  .img-header {
    h2 {
      display: flex;
      justify-content: center;
      font-weight: 500;
      padding-bottom: 40px;
      font-size: 32px;
    }
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  img {
    height: 90px;
  }
}

@media (max-width: 1024px) {
  header {
    margin-left: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    .links {
      gap: 10px;
      font-size: 12px;
    }
  }

  main {
    section {
      height: 450px;
      .slide-text {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        font-size: 32px;
        bottom: 120px;
      }
    }

    .box {
      height: auto;
      width: 100%;
      left: 50%;
      text-align: center;
      align-items: center;
      margin-top: 60px;

      img {
        margin: 0;
      }
      .box-text {
        padding: 20px;
        font-size: 18px;
        width: 400px;
      }
      .box-btns button {
        width: 100%;
        font-size: 22px;
        height: auto;
      }
    }

    .circles,
    .circles-brown,
    .circles-purple {
      overflow-x: auto;
      scrollbar-width: none;
    }
    .circles-brown {
      margin-top: 17px;
    }
    .activity-header {
      padding: 40px 10px;
      margin-top: 80px;
      h2 {
        font-size: 40px;
      }
    }

    .news-section {
      grid-template-columns: repeat(2, 0.5fr);
      grid-template-areas:
        "a b"
        "q w"
        "c d"
        "e r";
      .news-cards {
        height: 180px;
      }
      .all-news-btn {
        height: 180px;
      }
    }

    .container-img {
      height: auto;

      .inner-container {
        flex-direction: column;
        background-image: none;
        margin-left: 0;
        width: 100%;
        border-radius: 80px;
        img {
          height: 260px;
        }
        .txt h2 {
          font-size: 26px;
        }
        .second {
          order: 1;

          display: flex;
          justify-content: center;
        }
        .txt {
          order: 2;
        }
      }
    }
    .circle-section {
      h3 {
        font-size: 30px;
      }
    }
  }

  footer {
    flex-direction: column;
    padding: 40px;
    text-align: center;

    .columns {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }

    .last-column {
      margin-top: 20px;
      img {
        margin-left: 0;
      }
    }
  }
  .img-swiper {
    padding: 0;

    gap: 15px;
    background-color: white;
    img {
      height: 90px;
      padding: 18px;
    }
  }
}

@media (max-width: 768px) {
  header {
    .icons {
      margin-left: 20px;
    }
    .links {
      display: none;
      margin-left: 0;
      width: 0;
    }
    .right {
      display: flex;
      align-items: center;
      button {
        margin-left: 0px;
      }
    }

    .links.open {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      background: #ffffff;
      padding: 20px;
      gap: 20px;
      border-radius: 14px;
      width: 200px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      z-index: 9999;
    }

    .burger {
      display: block;
    }
  }
  main {
    .news-section {
      display: none;
    }

    .responsive {
      display: inline;
      
      button{
        background-color: rgb(89 156 247 );
        padding: 20px 50px;
        width: 90%;
        margin-left: 33px;
        border-radius: 25px;
        border: none;
        color: rgb(255 255 255);
        font-size: 20px;
        margin-bottom: 30px;
      }
      .responsive-container {
        display: flex;

        margin-bottom: 20px;
        overflow-x: auto;
        gap: 20px;
        scrollbar-width: none;

        .resp-card {
          display: inline;
          background: rgb(240 243 250);
          border-radius: 14px;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
          display: flex;
          flex-direction: column;
          cursor: pointer;
          height: auto;
          .date {
            font-size: 13px;
            color: #64748b;
            margin-bottom: 6px;
            padding-top: 20px;
            margin-left: 20px;
          }

          h3 {
            font-size: 15px;
            font-weight: 600;
            line-height: 1.4;
            color: #0f172a;
            margin-bottom: 10px;
            padding-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
          }

          img {
            height: 200px;
            transition: filter 0.3s ease;
            overflow: hidden;
            object-fit: cover;
          }
        }
      }
    }

    .box {
      flex-direction: column;
      .box-text {
        width: 100%;
      }
      .box-btns {
        width: 100%;
      }
    }
    .circle-section {
      h3 {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 600px) {
  //   *{
  //     overflow-x: hidden;
  // }
  header {
    height: auto;
    padding: 10px;
    .links {
      display: none;
    }
  }

  main {
    .swiper-box {
      img {
        height: 360px;
        width: 300px;
      }
    }

    .project-section {
      h2 {
        text-align: center;
        font-size: 28px;
      }
    }
    .circles,
    .circles-brown,
    .circles-purple {
      overflow-x: auto;
      scrollbar-width: none;
    }
    section {
      height: 350px;
      .slide-text {
        font-size: 22px;
        width: 90%;
        bottom: 80px;
      }
    }

    .box {
      border-radius: 30px;
      padding: 15px;
      .box-text {
        font-size: 14px;
      }
      .box-btns button {
        width: 100%;
        font-size: 16px;
      }
    }

    .activity-header {
      display: flex;
    }

    // .news-section {
    //   display: flex;
    //   overflow-x: auto;
    //   height: 500px;
    //   flex-direction: row;
    //   scrollbar-width: none;

    //   img {
    //     height: 100%;
    //     object-fit: cover;
    //     width: auto;
    //     display: block;
    //   }
    // .news-card {
    //   height: 100%;
    // }
    // .news-cards {
    //   display: none;
    // }
    // .news-card-n {
    //   display: inline;
    //   background: rgb(240 243 250);
    //   border-radius: 14px;
    //   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    //   display: flex;
    //   flex-direction: column;
    //   cursor: pointer;
    //   height: 100%;

    //   .date {
    //     font-size: 13px;
    //     color: #64748b;
    //     margin-bottom: 6px;
    //     padding-top: 20px;
    //     margin-left: 20px;
    //   }

    //   h3 {
    //     font-size: 15px;
    //     font-weight: 600;
    //     line-height: 1.4;
    //     color: #0f172a;
    //     margin-bottom: 10px;
    //     padding-top: 20px;
    //     margin-left: 20px;
    //     margin-right: 20px;
    //   }

    //   img {
    //     margin-top: 10px;
    //     height: 170px;
    //     transition: filter 0.3s ease;
    //     overflow: hidden;
    //   }
    //   }
    // }
    .img-swiper {
      .swiper-slide{
        img{
          margin-left: 40px;
          height: 100px;
          padding: 10px;
        }
      }
      .img-header {
        h2 {
          font-size: 22px;
          padding-top: 20px;
        }
      }
    }
    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
      img {
        width: 100%;
      }
    }

    .container-img {
      padding: 40px;
      .inner-container {
        height: auto;
        text-align: center ;
        border-radius: 40px;
        flex-direction: column;
        .txt {
          width: 100%;
          margin-left: 0px;
        text-align: center ;

        }
        img {
          position: static;
          margin-top: 20px;
          height: 200px;
        }
      }
    }
  }

  footer {
    padding: 0px;
    .logos {
      padding-top: 20px;
    }
    .last-column {
      P {
        text-align: center;
      }
      justify-content: center;
      div {
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 100%;
        margin-left: 0px;
      }
      span {
        display: flex;
        justify-content: center;
      }
    }
    .columns {
      grid-template-columns: repeat(3, 1fr);
      padding-top: 30px;
    }
  }
}
